.btn {
  cursor: pointer;
  background-color: var(--color-green);
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-header);
  font-size: var(--font-size-base);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-right: 10px;
  margin: 0;
  width: 100%;
  color: black;

  &:hover{
    background-color: lightgreen;
  }
}
