

<div *ngIf="companySections; else noData" class="company-details-component ">
  <div class="action-button">
    <app-button 
      [buttonText]="'ACTION'">
    </app-button>
  </div>
  <div class="cards-container">
    <mat-card *ngFor="let section of companySections" class="company-card">
      <mat-card-header>
        <mat-card-title class="header"><u>{{ section.section }}</u></mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div *ngFor="let field of section.fields" class="card-item">
          <p>
            <span class="label">{{ field.label }}:</span>

            <!-- If value is a link -->
            <ng-container *ngIf="isLink(field.value); else notLink">
              <a style="color: white;" [href]="formatUrl(field.value)" target="_blank" rel="noopener noreferrer">
                {{ field.value }}
              </a>
            </ng-container>

            <!-- If value is an email -->
            <ng-template #notLink>
              <ng-container *ngIf="isEmail(field.value); else plainText">
                <a [href]="'mailto:' + field.value">
                  {{ field.value }}
                </a>
              </ng-container>
            </ng-template>

            <!-- Otherwise plain text -->
            <ng-template #plainText>
              {{ field.value }}
            </ng-template>
          </p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<ng-template #noData>
  <p style="color:white">No company details available.</p>
</ng-template>
