<nav class="navbar-component">
    <div class="app-logo">
        <a routerLink="">
            <img src="assets/white adept logo 3.png" alt="Adept Logo" />
        </a>
    </div>

    <div class="navbar-menu">
        <a class="nav-link" routerLink="">HOME</a>
        <a class="nav-link" routerLink="/leads">LEADS</a>
        <a class="nav-link" routerLink="/analytics">ANALYTICS</a>
        <a class="nav-link" routerLink="/actions">ENGAGEMENT</a>
        <a class="nav-link" routerLink="/settings">SETTINGS</a>
        
    </div>

    <div class="search-bar">
        <app-search-bar></app-search-bar>
    </div>
</nav>
