<div class="home-component">

    <!--Search Bar-->
    <div class="search-bar">
        <app-search-bar></app-search-bar>
    </div>

    <!--Data Cards-->
    <div class="data-cards">
        <app-data-card
        *ngFor="let stat of stats"
        [title]="stat.title"
        [data]="stat.data"
        [color]="stat.color"
        ></app-data-card>
    </div>

    <!--Data Feed-->
    <div class="data-feed">
        <app-data-feed
        [title]="'RECENT ACTIVITY'"
        [data]="activity_feed"
        ></app-data-feed>
        
        <app-data-feed
        [title]="'RELEVANT NEWS FEED'"
        [data]="news_feed"
        >
        </app-data-feed>
    </div>

    <div class="filter-leads">
        <app-filter
            *ngFor="let filter of filters"
            [optionType]="filter.optionType">
        </app-filter>
    </div>

    <div class="leads-table">
        <app-leads
            [title] = "'Lead List'"
            [columns]="leadTableColumns"
            [data]="leadTableData"></app-leads>
    </div>

</div>