.home-component{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.data-cards{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
    padding: 0;
}