@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600&display=swap');

:root {
    /* Primary Colors */
    --color-black: #000000;
    --color-white: #ffffff;
    --color-yellow: #edce1f;
    --color-blue: #1fafed;
    --color-red: #e41f1f;
    --color-green: #1fe41f;
    --color-teal: #1fedc3;

    /* Backgrounds */
    --bg-primary: var(--color-black);

    /* Text Colors */
    --text-primary: var(--color-yellow);

    /* Font Sizes (Conversion from px to rem done assuming a 16px base i.e. 16px = 1rem */
    --font-size-base: 0.75rem;
    --font-size-header: 1rem;
    --font-size-title: 1.5rem; /*Reference data card title*/
    --font-size-data: 2rem; /*References data card numbers*/

    /* Font Weights */
    --font-weight-normal: 400;
    --font-weight-header: 600;

    /* Font Family */
    --font-family-base: 'IBM Plex Mono', monospace;

    /* Homepage Background */
    .bg-black {
        background-color: var(--color-white);
    }
}

html, body { 
    font-family:  var(--font-family-base);
    background-color: var(--color-black);
    height: 100%;
}
