<div class="data-card">
        <div 
        class="title"
        [ngStyle]="{'color': color}"
        >{{title}}</div>

        <div 
        class="data"
        [ngStyle]="{'color': color}"
        >{{data}} </div>

        <div class="progress-bar" [ngStyle]="{'color': color}">
  <mat-icon class="progress-mat-icon">
    {{ progress >= 0 ? 'arrow_drop_up' : 'arrow_drop_down' }}
  </mat-icon>
  <span class="progress-text">
    {{ progress >= 0 ? '+' : '' }}{{ progress }}% (vs. LW)
  </span>
</div>
    </div>