<div class="data-card-container">
    <div class="data-card">
        <h3 
        class="title"
        [ngStyle]="{'color': color}"
        >{{title}}</h3>

        <h1 
        class="data"
        [ngStyle]="{'color': color}"
        >{{data}} </h1>

        <p
        class="progress-bar"
        [ngStyle]="{'color': color}"
        >
        <mat-icon class="progress-mat-icon">arrow_drop_up</mat-icon>
        <span class="progress-text">"+5 % (vs. LW)"</span>
        </p>
    </div>
</div>
