<div class="leads-component">
  <div class="lead-table-title">{{ title }}</div>

  <div class="lead-table">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th *ngFor="let column of columns">
            {{ column.header }}
          </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let row of data; let i = index">
          <td>{{i+1}}</td>
          <td *ngFor="let column of columns">

            <!-- Check if this is the 'Action' column -->
            <ng-container *ngIf="column.header !== 'Action'; else actionButtons">
              <span *ngIf="column.key === 'status' || column.key === 'company_data_source'; else normalText">
                {{row [column.key] | titlecase }}
              </span>
              <ng-template #normalText>
                <span *ngIf="column.key === 'industries'; else regularText">
                  {{row [column.key]?.[0] | titlecase}}
                </span>
                <ng-template #regularText>
                  {{(row)[column.key]}}
                </ng-template>
              </ng-template>
            </ng-container>

            <!-- Template for Action column -->
            
              <ng-template #actionButtons>
                <div class="action-buttons">
                  <app-button 
                  [buttonText]="'VIEW'"
                  [icon]="'visibility'"
                  [iconPosition]="'left'"
                  [routerLink]="['/company', row.id]"
                  (click)="onView(row)">
                  ></app-button>

                  <app-button 
                  [buttonText]="'ACTION'"
                  [icon]="'more_vert'"
                  [iconPosition]="'left'"
                  ></app-button>
                </div>
              </ng-template>
              
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

