<div class="leads-component">
  <div class="lead-table-title">{{ title }}</div>

  <div class="lead-table">
    <table>
      <thead>
        <tr>
          <th *ngFor="let column of columns">
            {{ column.header }}
          </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let row of data">
          <td *ngFor="let column of columns">
            <!-- Check if this is the 'Action' column -->
            <ng-container *ngIf="column.header !== 'Action'; else actionButtons">
              {{ row[column.key] }}
            </ng-container>

            <!-- Template for Action column -->
            
              <ng-template #actionButtons>
                <div class="action-buttons">
                  <app-button 
                  [buttonText]="'VIEW'"
                  [icon]="'visibility'"
                  [iconPosition]="'left'"
                  ></app-button>

                  <app-button 
                  [buttonText]="'ACTION'"
                  [icon]="'more_vert'"
                  [iconPosition]="'left'"
                  ></app-button>
                </div>
              </ng-template>
              
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

