.search-component{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding: 10px 10px;
    gap: 2rem;
}

.search-bar{
    background: none;
    border:none;
    color: var(--color-white);
    border: 1px solid #f9f9f9;
}

input{
    font-family: var(--font-family-base);
    font-weight: var(--font-weight-base);
    font-size: var(--font-size-header);
    color: var(--color-white);
}

::ng-deep input::placeholder {
    font-family: var(--font-family-base);
    font-weight: var(--font-weight-header);
    font-size: var(--font-size-header);
    color: var(--color-white);
}

